.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-style{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 45px 0;
}

.mr-2{
  margin-right: 2px;
}

.pd-r-0{
  padding-right: 0;
  padding-left: 0;
}

.pd-l-0{
  padding-left: 0;
}

.align{
  margin: 2px 57% 0 43%;
}

.align-item{
  padding-left: 30%;
  color: white;
}

.panel-title{
  cursor: pointer;
}

.btn{
  height:30px;
  width: 90px;
  text-align: center
}

.he-30{
  height: 30px;
}

.seleted{
    color: green;
}